@import "tailwindcss";
@plugin "tailwindcss-animate";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));

.font-damion { font-family: var(--font-damion), cursive; } 

@theme {
  
  @keyframes accordion-down {
    from { height: 0 }
    to   { height: var(--radix-accordion-content-height) }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height) }
    to   { height: 0 }
  }

  --animate-accordion-down: accordion-down 0.25s ease-out;
  --animate-accordion-up:   accordion-up   0.2s  ease-out;

  --color-main: #f7f7f7;

  --color-neutral-50:  #F6F6F6;
  --color-neutral-100: #E7E7E7;
  --color-neutral-200: #D1D1D1;
  --color-neutral-300: #B0B0B0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6D6D6D;
  --color-neutral-600: #5D5D5D;
  --color-neutral-700: #4F4F4F;
  --color-neutral-800: #454545;
  --color-neutral-900: #3D3D3D;
  --color-neutral-950: #1E1E1E;

  --color-primary-50:  #FCF3F8;
  --color-primary-100: #F9EAF4;
  --color-primary-200: #F6D4E8;
  --color-primary-300: #EFB2D6;
  --color-primary-400: #E482B9;
  --color-primary-500: #D85C9E;
  --color-primary-600: #C53D7F;
  --color-primary-700: #AE2D68;
  --color-primary-800: #8D2754;
  --color-primary-900: #762549;
  --color-primary-950: #471028;

  --color-secondary-50:  #FEF1F6;
  --color-secondary-100: #FEE5EE;
  --color-secondary-200: #FECCDF;
  --color-secondary-300: #FFAFCC;
  --color-secondary-400: #FE689B;
  --color-secondary-500: #F83C77;
  --color-secondary-600: #E81A51;
  --color-secondary-700: #CA0C39;
  --color-secondary-800: #A70D2F;
  --color-secondary-900: #8B102B;
  --color-secondary-950: #550214;

  --color-warning-50:  #FEFBEC;
  --color-warning-100: #FCF1C9;
  --color-warning-200: #F9E28E;
  --color-warning-300: #F8D56E;
  --color-warning-400: #F4B82B;
  --color-warning-500: #EE9812;
  --color-warning-600: #D3730C;
  --color-warning-700: #AF510E;
  --color-warning-800: #8E3F12;
  --color-warning-900: #753412;
  --color-warning-950: #431A05;

  --color-error-50:  #FFF1F1;
  --color-error-100: #FFDFDF;
  --color-error-200: #FF9D9D;
  --color-error-300: #FF9D9D;
  --color-error-400: #FF6565;
  --color-error-500: #FF3434;
  --color-error-600: #ED1515;
  --color-error-700: #DB0F0F;
  --color-error-800: #A50F0F;
  --color-error-900: #881414;
  --color-error-950: #4A0505;

  --color-success-50:  #F4FCF1;
  --color-success-100: #E2FADE;
  --color-success-200: #C8F3BF;
  --color-success-300: #83E272;
  --color-success-400: #67D454;
  --color-success-500: #41BA2D;
  --color-success-600: #319920;
  --color-success-700: #2A781D;
  --color-success-800: #255F1C;
  --color-success-900: #1E4F18;
  --color-success-950: #0C2B08;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px; height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B0B0B0;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
    @apply font-sans antialiased;

  }

  :link {
    @apply 
    text-neutral-400
    font-semibold
    hover:text-primary-700
    transition-all
    duration-100
    text-sm

  }

  a:hover {
   @apply text-primary-700
  }

  a:visited {
  @apply text-neutral-400; 
}

  li {
    @apply 
    text-neutral-400
    font-semibold
    transition-all
    duration-100
    text-sm
    ;
  }
}

@theme inline {

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.141 0.005 285.823);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.21 0.006 285.885);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.967 0.001 286.375);

  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.967 0.001 286.375);

  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.967 0.001 286.375);

  --accent-foreground: oklch(0.21 0.006 285.885);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.92 0.004 286.32);

  --input: oklch(0.92 0.004 286.32);

  --ring: oklch(0.705 0.015 286.067);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.141 0.005 285.823);

  --sidebar-primary: oklch(0.21 0.006 285.885);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.967 0.001 286.375);

  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);

  --sidebar-border: oklch(0.92 0.004 286.32);

  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {

  --background: oklch(0.141 0.005 285.823);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.21 0.006 285.885);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.006 285.885);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.92 0.004 286.32);

  --primary-foreground: oklch(0.21 0.006 285.885);

  --secondary: oklch(0.274 0.006 286.033);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.274 0.006 286.033);

  --muted-foreground: oklch(0.705 0.015 286.067);

  --accent: oklch(0.274 0.006 286.033);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.552 0.016 285.938);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0.006 285.885);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.274 0.006 286.033);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}