@import url("./assets/fontawesome/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    @apply text-neutral950;
    @apply font-sans;
    line-height: 150%;
  }
  li {
  @apply font-normal text-neutral-700 hover:text-primary700 transition-all cursor-pointer;
  }

  Link {
  @apply font-normal text-neutral-700 hover:text-primary700 transition-all cursor-pointer;
  }

  .line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
}